    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }


    body {
            text-align: center;
            height: 100%;
            margin: 10%;
            background: linear-gradient
            
        }
    

    .heading{
        justify-content: center;
        text-align: center;
        background-color: aliceblue;
        border: 10px;
        margin: 150px;
        height: 500px;
        padding: 20px;
  
    }    

                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 40%;
                }
